<?xml version="1.0" encoding="UTF-8"?>
<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-ia-imei"
		version="1.0.0">

	<name>AndroidIMEI</name>

	<description>
		This plugin allows you to read the IMEI of an Android device. Intended for use in enterprise and kiosk apps.
	</description>

	<license>MIT</license>

	<engines>
			<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/androidimei.js" name="AndroidIMEI">
			<clobbers target="plugins.androidimei" />
	</js-module>

	<!-- android -->
	<platform name="android">
			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="AndroidIMEI">
						<param name="android-package" value="za.co.klausius.plugins.androidimei.AndroidIMEI" />
				</feature>
			</config-file>
			<source-file src="src/android/AndroidIMEI.java" target-dir="src/za/co/klausius/plugins/androidimei" />
	</platform>
</plugin>
